# Server Configuration
PORT=3007

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/payment-service

# JWT Configuration
JWT_SECRET=HPO7XUh7i2coBzSR9c592Apd2hn5zDAMg1vnzbJ865I=

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_51R2etGIxbDpmVS9STLvB7z9BjFrbjygh4rLSa8RD7F03JaljyVicO6Vfu163S9FlPb7PIJnaf0L07EQ5MVcRW63q00aJxsupmG
STRIPE_WEBHOOK_SECRET=whsec_07e4b9229dace48d9195ddeec8f8c014ad492937862f920b940cf30cb8086aa4
