# LiveKit Cloud Yapılandırması
LIVEKIT_API_KEY=APIP2e8PX6AbSkQ
LIVEKIT_API_SECRET=B4ywBpfTlaHL4T8EW2fU1mvuDxKTIwaXoSHIYeEJpOQB
LIVEKIT_WS_URL=wss://postply-s2s0711i.livekit.cloud

# Servis Yapılandırması
PORT=3030
NODE_ENV=development

# CORS Yapılandırması
CORS_ORIGIN=http://localhost:3000

# Loglama Seviyesi (DEBUG, INFO, WARN, ERROR)
LOG_LEVEL=INFO
